{# templates/report.twig #}

{% block header %}
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js" integrity="sha256-R4pqcOYV8lt7snxMQO/HSbVCFRPMdrhAFMH+vr9giYI=" crossorigin="anonymous"></script>
{% endblock %}

{% extends "base.twig" %}

{% block content %}

<h1>Dashboard</h1>

<script>
data = {
    datasets: [{
        data: [10, 20, 30]
    }],

    // These labels appear in the legend and in the tooltips when hovering different arcs
    labels: [
        'Red',
        'Yellow',
        'Blue'
    ]
};
</script>

<div class="card-deck">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">HTTP Status</h5>

        <canvas id="httpStatus" width="100%"></canvas>

        <script>
        // And for a doughnut chart
        var ctx = document.getElementById("httpStatus");
        var myDoughnutChart = new Chart(ctx, {
            type: 'doughnut',
            data: data
        });
        </script>

    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Disavow</h5>
    
        <canvas id="disavow" width="100%"></canvas>

        <script>
        // And for a doughnut chart
        var ctx = document.getElementById("disavow");
        var myDoughnutChart = new Chart(ctx, {
            type: 'doughnut',
            data: data
        });
        </script>

    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
    </div>
  </div>
</div>




</script>

{% endblock %}